[Desktop Entry]
Name=TuxConnect logs
Comment=A launcher to check logs
Exec= gedit /home/abhi/.Tux_Connect/logs/conn_logs.txt
Type=Application
Icon=/home/abhi/.Tux_Connect/icons/logFile.png
